@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/* navigation css */
.nav_header {
    background-color: #30CFE9;
    width: 100%;
    margin-bottom: 1%;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.nav_flex {
    flex: 1;
}

nav form {
    width: 40%;
    padding-left: 5%;
    padding-top: 10px;
}

nav form input {
 width: 70%;
 height: 30px;
}

nav form button {
    width: 20%;
    height: 37px;
    background-color: #1CA706 ;
    border: 1px solid  #1CA706;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 2px;
}

nav form button:hover {
    color: white;
}

.nav_filter {
    margin-right: 3%;
    padding-top: 10px;
}

.nav_filter select {
    height: 35px;
    border-radius: 2px;
    font-size: 18px;
}

select option{
    color: black;
    font-size: 15px;
    width: 5%;
}

/* css for record */
.records_container {
    
    margin: 0.5% 1% 3% 2%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.header_records {
    font-family: 'Fredoka One';
    margin-bottom: 3%;
    text-align: center;
}

.header_records span {
    border-bottom: 4px solid #1CA706;
    border-radius: 50px;
}

.records_item {
    /* height: 250px; */
    background-color: white;
    border: 1px solid grey;
    margin-right: 7%;
    margin-bottom: 7%;
    box-shadow: 5px 7px 5px 3px grey;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 10px;
}

.records_item:hover {
    transform: translateY(-20px);
}

.records_item ul {
    list-style-type: none;
    padding: 0 0 0 3px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.records_item ul li {
    margin-bottom: 3px;
}

.records_item ul li span {
    font-family: 'Fredoka One';
    color:   brown;
}
.name {
    font-family: 'Fredoka One';
    text-align: center;
    margin-bottom: 1%;
}

.pagination {
    text-align: center;
    border-bottom: 2%;
}

.pagination span {
    padding: 10px;
    border: 1px solid #30CFE9;
    margin-right: 1%;
}

.pagination span:hover {
    background-color:  #30CFE9;
    color: white;
    cursor: pointer;
}
